<form action="/addStudentCompleted" method="post">
    <label>Name:</label><input type="text" name="Name">
    <label>Photo: </label><input type="text" name="StudentPhoto"><br>
    <button>AddStudent</button>
    </form>