<h1>Title <i class="fas fa-volume-up"></i> </h1>
    <form action="/choice-completed" method="post">
    <label>Option One</label>
      <select name="optionOne">
        <option value="Word Work">Word Work</option>
        <option value="Work On Writing">Work On Witing</option>
        <option value="Listen To Reading">Listen To Reading</option>
        <option value="Read To Self">Read To Self</option>
        <option value="Read To Someone">Read To Someone</option>
        </select>
        <br>
      <label>Option Two</label>
        <select name="optionTwo">
        <option value="Word Work">Word Work</option>
        <option value="Work On Writing">Work On Witing</option>
        <option value="Listen To Reading">Listen To Reading</option>
        <option value="Read To Self">Read To Self</option>
        <option value="Read To Someone">Read To Someone</option>
         </select>
         <br>
      <label>Option Three</label>
      <select name="optionThree">
        <option value="Word Work">Word Work</option>
        <option value="Work On Writing">Work On Witing</option>
        <option value="Listen To Reading">Listen To Reading</option>
        <option value="Read To Self">Read To Self</option>
        <option value="Read To Someone">Read To Someone</option>
         </select>
         <br>
      <label>Option Four</label>
      <select name="optionFour">
        <option value="Word Work">Word Work</option>
        <option value="Work On Writing">Work On Witing</option>
        <option value="Listen To Reading">Listen To Reading</option>
        <option value="Read To Self">Read To Self</option>
        <option value="Read To Someone">Read To Someone</option>
        </select>
        <br>
      <label>Option Five</label>
      <select name="optionFive">
        <option value="Word Work">Word Work</option>
        <option value="Work On Writing">Work On Witing</option>
        <option value="Listen To Reading">Listen To Reading</option>
        <option value="Read To Self">Read To Self</option>
        <option value="Read To Someone">Read To Someone</option>
      </select>
      <br>
      <input type="hidden" name="id" value={{id}}>
      <button>Submit</button>
  </form>
