<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>choices</title>
</head>
<body>
  <h1>Click on your first choice</h1>
    <form action="/choice_completed" method="post">
    <button>option one</button>
    <button>option two</button>
    <button>option three</button>
    <button>option four</button>
    <button>option five</button>
  </form>
</body>
</html>