
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>
  <h1>Click on your name/picture</h1>
  <ul>
    {{#each children}}
    <li>{{name}} {{profile_photo}}</li>
    {{/each}}
  </ul>
</body>
</html>