
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Name</title>
</head>
<body>
  <h1>Click on your name</h1>
    {{#each children}}
    <a href= "/choice/{{id}}">{{name}} {{profile_photo}}</a><br>
    {{/each}}
    <br>
    <a href="/">Home</a>
</body>
</html>