<h1>Listen to Reading Activities</h1>
<a href="https://safeshare.tv/x/rxwGLjQbYzA"><img src="../images/dr.seuss/HowTheGrinchStoleChristmas.jpeg">How The Grinch Stole Christmas!</a>
<a href="https://safeshare.tv/x/gfNJP3NR5oI"><img src="../images/dr.seuss/TheCatInTheHat.jpg">The Cat In The Hat</a>
<a href="https://safeshare.tv/x/bwkgYs8OhPI"><img src="../images/dr.seuss/OhThePlacesYou'llGo!.jpg">Oh The Places You'll Go!</a>
<a href=""><img src="../images/dr.seuss/TheLorax.jpg">The Lorax</a>
<a href=""><img src="../images/dr.seuss/GreenEggsAndHam.jpg">Green Eggs and Ham</a>
<a href=""><img src="../images/dr.seuss/">Fox in Socks</a>
<a href=""><img src="../images/dr.seuss/">One Fish, Two Fish, Red Fish, Blue Fish</a>
<a href=""><img src="../images/dr.seuss/">Happy Birthday To You</a>
<a href=""><img src="../images/dr.seuss/">ABC</a>
<a href=""><img src="../images/">There's a Wocket in my Pocket</a>
<a href=""><img src="../images/dr.seuss/"></a>
<a href=""><img src="../images/dr.seuss/"></a>
<a href=""><img src="../images/dr.seuss/"></a>
<a href=""><img src="../images/dr.seuss/"></a>
<a href=""><img src="../images/dr.seuss/"></a>
<a href=""><img src="../images/dr.seuss/"></a>
<a href=""><img src="../images/dr.seuss/"></a>

<br><button><a href="/student">Home</a></button>